* {
  box-sizing: border-box;
}

html,
option,
label {
  font-family: "Comfortaa", cursive;
  background-color: #ebbb9341;
}

input,
select {
  font-family: "Comfortaa", cursive;
}

div.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

form {
  width: 400px;
}

.name {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.email {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pnumber {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subject {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message {
  width: 100%;
  padding: 20px;
  padding-bottom: 60px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit {
  font-family: "Comfortaa", cursive;
  background-color: #ff6600;
  color: white;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.submit:hover{
  background-color: #803300;
}

@media screen and (max-width: 390px) {
  .container {
    padding: 20px;
  }

  form {
    width: 80%;
  }

  .submit{
    padding: 7px 14px;
  }
}
