* {
  box-sizing: border-box;
}

html {
  font-family: "Comfortaa", cursive;
}

input,
select,
textarea,
option,
label {
  font-family: "Comfortaa", cursive;
}

.container {
  padding: 0 0 40px 0;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #6d7de433;
}

.container h1 {
  margin: 40px 0 0 0;
  text-align: center;
}

.container--form {
  margin-top: 20px;
}

.namepro {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerlabel {
  display: flex;
  gap: 115px;
}

.date {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.datestart {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dateend {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description {
  width: 100%;
  padding: 20px;
  padding-bottom: 70px;
  margin: 10px 0 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tech {
  display: block;
}

.technologies {
  width: 100%;
  margin: 10px 0 20px 0;
  border-width: 0 3px 3px 0;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.label--button {
  background-color: #ffffff;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  transition-duration: 0.4s;
}

.label--button:hover {
  color: #cc640e;
}

.submit {
  display: block;
  background-color: #3f1400;
  color: white;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: #cc640e;
}

.line {
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.teks {
  padding: 28px;
  margin: 20px;
  text-align: center;
}

.blog-list {
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.blog-image {
  flex: 1;
  margin: 0 0 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.blog-list h1 a {
  font-size: medium;
  text-decoration: none;
  color: #000;
}

.blog-item {
  width: 27%;
  padding: 15px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-content {
  flex: 2;
}

.blog-content p {
  margin-top: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

.blog-detail {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.blog-tech{
  display: flex;
  gap: 10px;
  margin: 10px 0 10px 0;
}

.btn-group {
  margin: 8px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.editpost {
  padding: 6px 70px;
  margin: 4px 2px;
  border: none;
  border-radius: 7px;
  background: #ffccb5;
  cursor: pointer;
  transition-duration: 0.4s;
}

.editpost:hover {
  background: #cc640e;
}

.deletepost {
  padding: 6px 60px;
  margin: 4px 2px;
  border: none;
  border-radius: 7px;
  background: #3f1400;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.deletepost:hover {
  background-color: #cc640e;
}
