html {
  font-family: "Comfortaa", cursive;
  background-color: #d9dcf7;
}

.menu {
  width: 60%;
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: block;
  margin: 20px;
}

.right {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.paragraf {
  color: #000000;
  text-align: left;
  margin-bottom: 15px;
}

.introduce {
  display: block;
  text-align: justify;
  text-justify: inter-word;
}

div.info{
  display: flex;
  margin-top: 20px;
  gap: 15px;
  text-align: left;
  align-items: center;
}

.porto {
  color: #cecece;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #7e1c03;
  cursor: pointer;
}

.porto:hover {
  background-color: #cc640e;
}

.downloadcv {
  text-decoration: none;
  color: #7e1c03;
}

.downloadcv:hover {
  color: #cc640e;
}

.socialmedia {
  display: flex;
  text-align: left;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.socialmedia i {
  color: #7e1c03;
}

.socialmedia i:hover {
  color: #cc640e;
}

.linkedin {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

div.polaroid {
  width: 80%;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.text {
  gap: 20px;
  padding: 20px;
  display: block;
  line-height: 25px;
  text-align: center;
}
